<div class="row logo justify-content-center" >
    <img src="assets/images/rickandmorty.png" class="img-fluid" alt="Logo">
</div>

<div class="progress-center" *ngIf="listCharacters.length == 0">
    <app-progress></app-progress>
</div>

<div class="container" *ngIf="listCharacters.length != 0">
    <div class="row">
        <div class="row">
            <app-card  @fadeIn class="col" *ngFor="let item of listCharacters" [character]="item">
            </app-card>
        </div>
        <div class="row">
            <app-paginate  [pagination]="pagination" (paginateRequest)="paginate($event)"></app-paginate>
        </div>
    </div>
</div>